.car-detail {
    display: grid;
    grid-template-columns: auto 1fr;

    & h2 {
        grid-column: 1 / span 2;
    }

    & figure {
        margin: 0;
        margin-right: 1rem;

        & img {
            display: block;
            width: 15rem;
        }
    }

    & section {
        & p:first-of-type {
            margin-top: 0;
        }
    }
}
